<!DOCTYPE html>
<html>
    <hear>
        <title>Music Discovery Web Application</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    </hear>
    <body>
        <h1>{{ songName }} </h1>
        <h2>by {{ songArtist }}</h2>
        <img src="{{ songImageURLS }}"></img>
        <p>
            {%if songPreviewURLS == None%}
                <p>The preview is not avaible for this song</p>
            {%else%}
                <audio controls>
                    <source src="{{songPreviewURLS}}" type="audio/mpeg">
                </audio>
            {%endif%}
            
        </p>
        <a href="{{lyricsURL}}" target="_blank">Click here for the lyrics!</a>
    </body>
</html>